body {
    font-family: sans-serif;
    background-color: rgb(211, 231, 248);
}

h1 {
    color: black;
    text-align: center;
    text-transform: uppercase;
}

input {
    padding: 8px;
    background-color: rgb(211, 231, 248);
    border:1px solid black;
    width: 96%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid black;
}

td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: gray;
    text-align: center;
    padding: 10px;
}

button {
    margin-top: 10px;
    padding: 15px;
    background-color: rgb(108, 207, 108);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}